.prose {
    max-width: unset;
}

@media screen and (min-width: 768px) {
    .md\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media screen and (min-width: 1024px) {
    .lg\:grid-cols-6 {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    .lg\:inline-block {
        display: inline-block;
    }
    .lg\:items-stretch {
        align-items: stretch;
    }
    .lg\:text-base {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .lg\:text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
    .lg\:py-0 {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.bg-cyan-400 {
    background-color: rgb(34 211 238);
}

.text-black {
    color: #000;
}

.text-fuchsia-400 {
    color: rgb(232 121 249);
}

.bg-fuchsia-400 {
    background-color: rgb(232 121 249);
}

/**
 * Keywords
 */
.card-color {
    font-weight: bold;
}
.card-color--Red {
    background-color: red;
    color: #fff;
}
.card-color--Yellow {
    /* text-yellw-300 */
    background-color: orange;
    color: #fff;
}
.card-color--Green {
    /* text-green-700 */
    background-color: rgb(12, 131, 12);
    color: #fff;
}
.card-color--Blue {
    /* text-blue-800 */
    background-color: #1E429F;
    color: #fff;
}
.card-color--White {
    background-color: rgb(209, 208, 208);
    color: #000;
}
.card-color--Black {
    background-color: #000;
    color: #fff;
}

.card-color--红 {
    background-color: red;
    color: #fff;
    box-shadow: 0 0 0 1px white;
}
.card-color--黄 {
    /* text-yellow-300 */
    background-color: orange;
    color: #fff;
    box-shadow: 0 0 0 1px white;
}
.card-color--绿 {
    /* text-green-700 */
    background-color: rgb(12, 131, 12);
    box-shadow: 0 0 0 1px white;
    color: #fff;
}
.card-color--蓝 {
    /* text-blue-800 */
    color: #fff;
    background-color: #1E429F;
}
.card-color--白 {
    background-color: rgb(209, 208, 208);
    color: #000;
    box-shadow: 0 0 0 1px white;
}
.card-color--黑 {
    background-color: #000;
    color: #fff;
    box-shadow: 0 0 0 1px white;
}

.card-color-radius {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    cursor: help;
    line-break: strict; 
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    font-size: .8rem;
    line-height: .9rem;
    @media screen and (min-width: 1025px) {
        font-size: 1rem;
        line-height: 1.1rem;
        width: 200px;
    }

    /* reset formating of parent tags, e.g. bold or italic */
    font-weight: normal;
    font-style: normal;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    bottom: 100%;
    left: 50%;
    margin-left: -100px;
}

.tooltip .tooltiptext {
    transform: translateX(-50%);
    min-width: 7rem;
    margin-left: 0;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

@font-face {
  font-family: 'QiushuiShotai';
  src: url('font/QiushuiShotai.ttf');
}

.card_details--cardText {
    font-family: 'QiushuiShotai';
    text-align: left;
    font-size: small;
    line-height: 2;
}

.card_details--illustrator {
    font-family: 'QiushuiShotai';
    font-size: small;
}

.card_font {
    font-family: 'QiushuiShotai';
}

.fa-solid {
    line-height: inherit;
}

.inline-icon {
    display: inline;
    height: 1.8rem;
    width: auto;
    vertical-align: middle;
    margin: auto !important;
}
.card-rarity--yellow {
    color: orange;
    -webkit-text-stroke: 0.1px white;
    font-weight: bold;
}
.cut-in-line {
    display: inline-block;
    background-color: #1c64f269;
    width: -webkit-fill-available;
}
.hirameki-line {
    display: inline-block;
    background-color: #fee8d85c;
    width: -webkit-fill-available;
}
.henso-line {
    display: inline-block;
    background-color: #ff96ca75;
    width: -webkit-fill-available;
}