{{ define "main" }}
<h1 class="text-3xl mt-3 mb-6 font-bold dark:text-white">{{ .Title }}</h1>
{{ $perRow := 8 }}

<!-- <p class="prose prose-2xl dark:text-white text-2xl my-4">Note: Set 2 is not fully revealed. I'm adding new cards regularly when they are revealed.</p> -->

<template id="domfilters-template-select">
    <div class="flex flex-col lg:flex-row w-full mb-1">
        <legend data-set-data-text="title"></legend>
        <div data-target-field="replace"></div>
    </div>
</template>
<template id="domfilters-template-text">
    <div class="flex flex-col lg:flex-row w-full mb-1">
        <legend data-set-data-text="title"></legend>
        <div data-target-field="replace"></div>
    </div>
</template>
<template id="domfilters-template-checkbox">
    <div class="flex flex-col lg:flex-row w-full mb-1">
        <legend data-set-data-text="title"></legend>
        <div class="bg-white">
            <template data-target-field>
                <label>
                    <input data-setup-input class="hidden" />
                    <span class="px-4 p-1 bg-white cursor-pointer rounded-lg" style="border: 1px solid black;" data-set-text-value></span>
                </label>
            </template>
        </div>
    </div>
</template>

<style>
    /* Progressively enhance the JS-only form from a disabled-ish state */
    filter-container:not(:defined) form {
        opacity: .4;
        pointer-events: none;
    }

    domfilters-option {
        legend {
            background: grey;
            display: inline-block;
            padding: 0.25rem 0.5rem;
            width: 100%;

            @media screen and (min-width: 1025px) {
                max-width: 6vw;
            }
        }

        @media screen and (min-width: 1025px) {

            legend,
            label,
            label>input,
            label>select {
                height: calc(1.5rem + 2*0.5rem);
            }
        }

        label>input,
        label>select {
            width: 100%;
        }

        legend+* {
            width: 100%;
            padding: 0 0.5rem !important;
        }

        input[type="text"],
        select {
            padding-left: 0.5rem;
        }

        legend+div>div {
            display: flex;
            flex-wrap: wrap;
            column-gap: .5rem;
        }

        label {
            display: flex;
            align-items: center;
            padding: .25rem 0;
        }

        [type='checkbox']:not(:checked)+span {
            background-color: gray;
        }
    }

    .card-list {
        gap: 2rem;
    }

    dct-card {
        display: flex;
        align-items: center;
    }

    .card_details--feature {
        text-align: justify;
    }

    [data-popover]:not(.visible) {
        /**
         * Make sure popover are hidden properly
         */
        display: none;
    }

    :root {
        --dct-card-filters-grid-columns: 2;
        --dct-card-filters-grid-columns-custom: 4;
    }

    @media screen and (max-width: 1024px) {
        :root {
            --dct-card-filters-grid-columns: 1;
            --dct-card-filters-grid-columns-custom: 1;
        }

        .dct-card-shown {
            overflow: hidden;
        }

        [data-popover] {
            width: 100%;
            z-index: 10001;

            &.visible {
                position: fixed !important;
                overflow-y: scroll;
                inset: 0 !important;
                transform: unset !important;
                background:
                    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
                    url('/img/tiles.png') repeat;
            }

            >.flex {
                flex-direction: column !important;
                align-items: center !important;

                >div {
                    min-width: unset !important;
                    max-width: unset !important;
                }

                img {
                    width: auto;
                    margin: 1rem;
                    max-height: 500px;
                }
            }
        }

        [data-popper-arrow] {
            display: none;
        }
    }

    @media screen and (max-width: 1024px) {
        .scrollable-form {
            max-height: 38.2vh;
            /* 限制最大高度（可调整） */
            overflow-y: auto;
            /* 垂直滚动 */
            padding-right: 8px;
            /* 避免滚动条遮挡内容 */
        }

        /* 滚动条美化（可选） */
        .scrollable-form::-webkit-scrollbar {
            width: 6px;
        }

        .scrollable-form::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, 0.2);
            border-radius: 3px;
        }

        .scrollable-form::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, 0.1);
        }
    }
</style>



<filter-container oninit delimiter="," filter-mode="any" filter-input-delimiter-card-id-num="," filter-match-mode-title="contains" filter-match-mode-text="contains" filter-mode-spkey="all" filter-mode-custom="all" filter-match-mode-card-num="contains">
    <form class="dark:bg-black scrollable-form">
        {{ partial "dct-card-filters.html" (dict "Site" site) }}
    </form>
<!-- 新建牌组按钮和构建面板 -->
<div class="mb-4">
    <div class="flex items-center justify-between">
        <div>
            <button type="button" id="custom-reset" class="inline-flex items-center px-3 py-2 text-base font-medium text-center text-white bg-blue-700 rounded-lg whitespace-nowrap hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">清除</button>
            <button type="button" id="new-deck-btn"
                class="inline-flex items-center px-3 py-2 text-base font-medium text-center text-white bg-green-700 rounded-lg whitespace-nowrap hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                新建牌组
            </button>
            <button type="button" id="open-deck-btn"
                class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-blue-600 border border-transparent rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 hidden">
                打开牌组
            </button>
        </div>
        <div id="deck-builder-panel-button" class="flex justify-end items-center pad-2 gap-2 hidden">
            <button type="button" id="save-deck"
                class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-blue-600 border border-transparent rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                保存牌组
            </button>
            <button type="button" id="export-deck"
                class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-green-600 border border-transparent rounded-md shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                导出牌组
            </button>
            <button type="button" id="import-deck"
                class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-yellow-600 border border-transparent rounded-md shadow-sm hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500">
                导入牌组
            </button>
            <button type="button" id="close-deck-builder"
                class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-red-600 border border-transparent rounded-md shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                退出牌组
            </button>
        </div>
    </div>
    <!-- 牌组构建面板 -->
    <div id="deck-builder-container">
        <div id="deck-builder-panel" class="mt-4 p-4 bg-gray-100 dark:bg-gray-700 rounded-lg hidden">
            <div class="mb-4" id="deck-descibe">
                <div class="flex justify-between items-center mb-4">
                    <!-- <div class="flex justify-between items-center mb-4"> -->
                        <input type="text" id="deck-name"
                        class="mb-4 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:text-white"
                        placeholder="输入牌组名称">
                    <!-- </div> -->
                        <input type="text" id="deck-description"
                            class="w-full mb-4 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:text-white"
                            placeholder="输入牌组描述">
                <!-- <label for="deck-name" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">牌组名称</label> -->
                <button type="button" id="hide-deck-builder"
                    class="text-gray-500 hover:text-gray-700 dark:text-gray-300 dark:hover:text-white">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 12 L18 12"></path>
                    </svg>
                </button>
                </div>

                <!-- <div class="flex justify-between items-center mb-4"> -->
                <!-- <label for="deck-description" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1 hidden">牌组描述</label> -->
                <!-- <input type="text" id="deck-description"
                    class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:text-white"
                    placeholder="输入牌组描述"> -->
                <!-- </div> -->
            </div>
            <div class="mb-4">
                <div id="added-deck" class="grid grid-cols-6 gap-1"
                    style="grid-template-areas: 'A C C C C D' 'B C C C C E';">
                    <div id="added-partner" class="grid grid-cols-1 [grid-area:A] items-center justify-center relative">
                        <!-- 已添加的搭档将在这里显示 -->
                    </div>
                    <div id="added-statistics" class="grid grid-cols-1 [grid-area:D] items-center justify-center relative">
                        <!-- 已添加的统计数据将在这里显示 -->
                    </div>
                    <div id="added-cards" class="[grid-area:C]">
                        <!-- 已添加的卡牌将在这里显示 -->
                    </div>
                    <div id="added-case" class="[grid-area:B] flex flex-col items-center justify-center">
                        <!-- 已添加的卡牌将在这里显示 -->
                    </div>
                </div>
            </div>
        </div>
        <div id="panel-placeholder" style="display: none;"></div>
    </div>
</div>
    <h2 class="text-2xl my-3 font-bold dark:text-white"><span data-filter-results="张卡牌/张卡牌" aria-live="polite"></span></h2>

    <div class="card-list flex flex-wrap justify-start mt-4">
        {{ $counter := 0 }}
        {{ range site.Data.cards_ja }}
        {{ $card := . }}
        {{ $title := or (T (printf "cards.%s.title" .card_id )) .title }}
        {{ $type := or (T (printf "types.%s" .type )) .type }}
        {{ $product := or (T (printf "products.%s" .package )) .package }}
        {{ $contain := or (T (printf "contains.%s" $card.card_num )) $card.contain }}
        {{ $feature := or (T (printf "cards.%s.feature" .card_id )) $card.feature }}
        {{ $hirameki := or (T (printf "cards.%s.hirameki" .card_id )) $card.hirameki }}
        {{ $henso := or (T (printf "cards.%s.henso" .card_id )) $card.henso }}
        {{ $cut_in := or (T (printf "cards.%s.cut_in" .card_id )) $card.cut_in }}

        {{ $colors := slice }}
        {{range .color}}{{ $colors = $colors | append (or (T (printf "colors.%s" . )) .) }}{{end}}

        {{ $categories := slice }}
        {{range .categories}}{{ $categories = $categories | append (or (T (printf "categories.%s" . )) .) }}{{end}}

        {{ $is_primary := default "false" $card.is_primary }}
        {{ $other_versions := delimit $card.other_versions "," }}

        {{ with or (resources.Get (printf "translations/%s.png" $card.card_num)) (resources.Get (printf "cards/%s.ja.jpg" $card.card_num)) (resources.Get "img/fallback.jpg") }}
            {{ with .Resize "480x" }}
                <dct-card
                        id="{{ printf "%.0f" $card.id }}"
                        image="{{ .RelPermalink }}"
                        title="{{ $title }}"
                        original-title="{{ $card.title }}"
                        card-id="{{ $card.card_id }}"
                        card-num="{{ $card.card_num }}"
                        promo-details="{{ $contain }}"
                        type="{{ $type }}"
                        feature="{{ $feature }}"
                        hirameki="{{ $hirameki }}"
                        henso="{{ $henso }}"
                        cut-in="{{ $cut_in }}"
                        case-difficulty-first="{{ $card.difficulty_first }}"
                        case-difficulty-second="{{ $card.difficulty_second }}"
                        product="{{ $product }}"
                        color="{{ delimit $colors "," }}"
                        rarity="{{ $card.rarity }}"
                        categories="{{ delimit $categories "," }}"
                        is-primary="{{ $is_primary }}"
                        other-versions="{{ $other_versions }}"
                        cost="{{ $card.cost }}"
                        ap="{{ $card.ap }}"
                        lp="{{ $card.lp }}"
                        illustrator="{{ default "N/A" $card.illustrator }}"
                        price="{{ default "N/A" $card.price }}"
                >
                </dct-card>
            {{ end }}
        {{ end }}
        {{ $counter = add $counter 1 }}
    {{ end }}
    </div>
</filter-container>

<script type="module" src="js/dom-filters/script.js"></script>
<script type="module" src="js/filter-container/filter-container.js"></script>
<script>
    document.getElementById('custom-reset').addEventListener('click', () => {
        const filterContainer = document.querySelector('filter-container');
        if (!filterContainer) return;

        // 重置所有表单控件的值
        const inputs = Array.from(
            filterContainer.querySelectorAll('input[type="checkbox"], input[type="radio"], input[type="text"], select')
        );

        inputs.forEach(input => {
            // 重置复选框和单选框
            if (input.type === 'checkbox' || input.type === 'radio') {
                input.checked = false;
            }
            // 重置文本框和选择框
            else if (input.type === 'text' || input.tagName === 'SELECT') {
                input.value = '';
            }

            // 触发 input 事件让 filter-container 刷新
            const event = new Event('input', { bubbles: true });
            input.dispatchEvent(event);
        });
    })

    function setFormInputValue(key, value) {
        const filterContainer = document.querySelector('filter-container');
        if (!filterContainer) return;

        const input = document.querySelector(`input[name="${key}"], [data-filter-key="${key}"]`);
        if (!input) {
            console.warn(`未找到匹配的输入字段：${key}`);
            return false;
        }
        
        const inputs = Array.from(
            filterContainer.querySelectorAll('input[type="checkbox"], input[type="radio"], input[type="text"], select')
        );

        inputs.forEach(input => {
            if (input.type === 'checkbox' || input.type === 'radio') {
                input.checked = false;
            }
            else if (input.type === 'text' || input.tagName === 'SELECT') {
                input.value = '';
            }
            const event = new Event('input', { bubbles: true });
            input.dispatchEvent(event);
        });

        input.value = value;
        const event = new Event('input', { bubbles: true });
        input.dispatchEvent(event);
        return true;
    }

    document.addEventListener('click', (event) => {
        if (event.target.classList.contains('search-form-btn')) {
            const btn = event.target;
            const { targetKey, value } = btn.dataset;  // 解构获取参数
            setFormInputValue(targetKey, value);       // 调用核心函数
        }
    });
    const panel = document.getElementById('deck-builder-panel');
    const container = document.getElementById('deck-builder-container');
    const deckDescription = document.getElementById('deck-descibe');
    const placeholder = document.getElementById('panel-placeholder');
    
    let panelHeight = panel.offsetHeight * 0.5;
    updatePlaceholderHeight();
    
    window.addEventListener('scroll', () => {
        if (panel.classList.contains('hidden')) return; // 隐藏时不执行

        const containerRect = container.getBoundingClientRect();

        // 检查是否完全滚动出屏幕（顶部或底部）
        // const isOutOfView = containerRect.top > window.innerHeight || containerRect.bottom < 0;
        const elementHeight = containerRect.bottom - containerRect.top;
        const halfHeight = elementHeight * 0.5;

        const isOutOfView = containerRect.bottom < halfHeight || containerRect.top > window.innerHeight - halfHeight

        
        // 切换悬浮状态
        panel.classList.toggle('sticky-float', isOutOfView);
        deckDescription.classList.toggle('hidden', isOutOfView);
        placeholder.style.display = isOutOfView ? 'block' : 'none';
    })

    function updatePlaceholderHeight() {
        panelHeight = panel.offsetHeight;
        placeholder.style.height = `${panelHeight}px`;
    }
    
    window.addEventListener('resize', updatePlaceholderHeight);
</script>
{{ end }}