<div class="flex flex-col">
    <div class="grid" style="grid-template-columns: repeat(var(--dct-card-filters-grid-columns), minmax(0, 1fr));">
        <domfilters-option title="名称" key="title" fieldtype="text"></domfilters-option>
        <domfilters-option title="ID" key="card-id" fieldtype="text"></domfilters-option>
        <domfilters-option title="编号" key="card-num" fieldtype="text"></domfilters-option>
        <domfilters-option title="文本" key="card-text" fieldtype="text"></domfilters-option>
    </div>

    <style>
        domfilters-option[key="rarity"] .flex > div > div {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            justify-items: center;

            label, label > span {
                width: 100%;
                text-align: center;
            }
        }

        /* 移动端样式 */
        @media (max-width: 768px) {
            domfilters-option[key="rarity"] .flex > div > div {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    </style>

    <div class="grid" style="grid-template-columns: repeat(var(--dct-card-filters-grid-columns), minmax(0, 1fr));">
    {{ $productList := slice }}
    {{range .Site.Data.products_ja}}{{ $productList = $productList | append (or (T (printf "products.%s" . )) .) }}{{end}}
    <domfilters-option title="系列" key="product" fieldtype="select" values="{{$productList| jsonify}}" noneValue="所有"></domfilters-option>
    {{ $illustratorNames := slice }}
    {{range .Site.Data.illustrators_ja}}{{ $illustratorNames = $illustratorNames | append (.name) }}{{end}}
    <domfilters-option title="画师" key="illustrator" fieldtype="select" values="{{$illustratorNames | jsonify}}" noneValue="所有"></domfilters-option>
    </div>
    <div class="grid" style="grid-template-columns: repeat(var(--dct-card-filters-grid-columns), minmax(0, 1fr));">
        {{ $types := slice  "搭档" "角色" "事件" "案件" }}
        <domfilters-option title="类型" key="type" fieldtype="checkbox" values="{{$types| jsonify}}"></domfilters-option>
        {{ $traits := slice }}
        {{range .Site.Data.categories_ja}}{{ $traits = $traits | append (or (T (printf "categories.%s" . )) .) }}{{end}}
        {{ $traits = sort $traits }}
        {{ $traits = union (slice "无") $traits }}
        <domfilters-option title="特征" key="categories" fieldtype="select" noneValue="所有" values="{{$traits| jsonify}}"></domfilters-option>
    </div>
    <div class="grid" style="grid-template-columns: repeat(var(--dct-card-filters-grid-columns), minmax(0, 1fr));">
        {{ $costs := slice "无" "1" "2" "3" "4" "5" "6" "7" "8" "9" }}
        <domfilters-option title="等级" key="cost" fieldtype="checkbox" values="{{$costs| jsonify}}"></domfilters-option>
        {{ $colors := slice "蓝" "绿" "白" "红" "黄" "黑" }}
        <domfilters-option title="颜色" key="color" fieldtype="checkbox" values="{{$colors| jsonify}}"></domfilters-option>
        {{ $lps := slice "无" "灵光一闪" "变装" "介入" }}
        <domfilters-option title="效果" key="spkey" fieldtype="checkbox" values="{{$lps| jsonify}}"></domfilters-option>
        {{ $lps := slice "无" "0" "1" "2" }}
        <domfilters-option title="LP" key="lp" fieldtype="checkbox" values="{{$lps| jsonify}}"></domfilters-option>
        {{ $rarities := slice "C" "R" "SR" "MR" "PR" "SEC" "CP" "RP" "SRP" "MRP"  "SRCP" "MRCP" }}
        <domfilters-option title="罕贵度" key="rarity" fieldtype="checkbox" values="{{$rarities| jsonify}}"></domfilters-option>
        {{ $aps := slice "无" "0" "1000" "2000" "3000" "4000" "5000" "6000" "7000" "8000" }}
        <domfilters-option title="AP" key="ap" fieldtype="checkbox" values="{{$aps| jsonify}}"></domfilters-option>
    </div>

</div>