<footer class="bg-white dark:bg-warmgray-800 dark:text-white pt-10 pb-12">
  <div class="container mx-auto px-4">
    <p>
        网站 &copy; 由 <a class="underline" href="https://twitter.com/saitho95" target="_blank">saitho</a> (于<a class="underline" href="https://github.com/saitho/conantcg-english" target="_blank">GitHub</a>)上开源。名侦探柯南 &copy; 为 Gosho Aoyama/Shogakukan (青山 剛昌/小学館)。名侦探柯南：集换式卡牌 &copy; 为 TOMY。<br/>
        <a class="underline" href="https://github.com/klingeling" target="_blank">klingeling</a> 汉化网站部分英语文本，并作本地化调整 (<a class="underline" class="underline" href="https://github.com/BoardGameProj/conantcg-english" target="_blank">GitHub</a>)。<br/>
        所有图像的版权属于其合法所有者。这是一个为名侦探柯南集换式卡牌游戏的粉丝网站，并不与 青山 剛昌、小学館 或 TOMY 有关联。<br/>
        请支持<a class="underline" href="https://www.takaratomy.co.jp/products/conan-cardgame/" target="_blank">官方卡牌游戏</a>!<br/>
    </p>
  </div>
</footer>
<script>
  function toggleNav() {
      var hamburger = document.getElementById("hamburgerbtn");
      var overlay = document.getElementById("overlay");
      var body = document.body;

      hamburger.addEventListener("click", function () {
          overlay.classList.toggle("open");
          hamburger.classList.toggle("is-open");
          body.classList.toggle("scroll-lock");
      });
  }
  toggleNav();
</script>
